<div class="col-md-12 d-flex align-items-center">
  <div class="container p-5 m-4">
    <div class="pl-3">
      <h3 class="LaranjaInformativo"><b>Cadastre um docente</b></h3>
    </div>
    <hr class="LaranjaInformativoHr">
    <form [formGroup]="cadastrarProfessorForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <div class="col-md-4">
          <label for="nome">Nome</label>
          <input type="text" formControlName="nome" class="inputCertificat form-control"
            [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" placeholder="nome" />
          <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
            <div *ngIf="f.nome.errors.required">nome is required</div>
          </div>
        </div>
        <div class="col-md-8">
          <label for="sobrenome">Sobrenome</label>
          <input type="text" formControlName="sobrenome" class="inputCertificat form-control"
            [ngClass]="{ 'is-invalid': submitted && f.sobrenome.errors }" placeholder="sobrenome" />
          <div *ngIf="submitted && f.sobrenome.errors" class="invalid-feedback">
            <div *ngIf="f.sobrenome.errors.required">sobrenome is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="email">Email</label>
          <input type="email" formControlName="email" class="inputCertificat form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="email@email.com" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">email is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="password">Senha</label>
          <input type="password" formControlName="password" class="inputCertificat form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="senha" />
          <div *ngIf="passwordInvalida" class="invalid-feedback">
            <div>As senhas precisam ser iguais</div>
          </div>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">password is required</div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <label for="confirmPassword">Confirme sua Senha</label>
          <input type="password" formControlName="confirmPassword" class="inputCertificat form-control"
            [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="confirme sua senha" />
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">password is required</div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button [disabled]="loading" class="botaoEntrarCertificat btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Registrar
        </button>
      </div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">Ocorreu um erro ao criar o usuario</div>
    </form>
    <button type="button" id="openModalButton" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
      hidden>
      Launch demo modal
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Professor Cadastrado com sucesso!
          </div>
          <div class="modal-footer">
            <button type="button" class="botaoEntrarCertificat btn btn-primary" data-dismiss="modal">Okay</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>