.inputCertificat {
    background-color: #FFF1EB;
    border: none
}

.botaoEntrarCertificat {
    width: 120px;
    background-color: #FF5412;
}

.LaranjaInformativo{
    color: #FF5412;
}

.LaranjaInformativoHr{
    background-color: #FF5412;
}